openembedded-core/
meta-yocto/
bitbake/
meta-openembedded/
meta-virtualization/
build/
build/conf/sanity_info
build/tmp/
build/sstate-cache/
downloads/
sstate-cache/
*.swp
*.swo
*~
*.orig
*.rej
.DS_Store
*.wic
*.wic.bmap
*.tar.xz
*.rootfs
*.manifest
*.log
*.pyc
__pycache__/
.tox/
.venv
.env
*.diskimage
